@{
    ViewBag.Title = "Files";
}

@model string[]

<h2>Files</h2>

<ul>
    @foreach (var path in Model) { 
        var filename = Path.GetFileName(path);
        <li>
            
            <a href="@Url.Action("content", new RouteValueDictionary() { {"filename", filename}})/">@filename</a>
            (as <a href="@Url.Action("stream", new RouteValueDictionary() { {"filename", filename}})">stream</a>, <a href="@Url.Action("path", new RouteValueDictionary() { {"filename", filename}})">get path</a>)
        </li>
    }
</ul>

<a href="@Url.Action("Index", "Home")">go home</a>